 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>

    <form method="POST"  action="/listings/<%= listing._id %>?_method=PUT"   >
      <input name="listing[title]" value="<%= listing.title %>" type="text"/>
          <br>
          <label for="discreption">Description</label>
          <textarea name="listing[discreption]"  type="text"></textarea> 
          <br>
          <input name="listing[image]" value="<%= listing.image %>" type="text">
          <br>
         <input name="listing[price]" value="<%= listing.price %>" type="number" />
          <br>
          <input name="listing[bookAuthor]" value="<%= listing.bookAuthor %>" type="text" />
          <br>
          <input name="listing[location]" value="<%= listing.location %>" type="text"/>
          <br>
          
        <button >Edit</button>
    </form>

    
 </body>
 </html>